
:root {
    --color-primario: #ff6347;
    --color-fondo: #f0f0f0;
    --color-texto: #333;
    --color-blanco: #fff;
    --color-borde: #ddd;
    --color-focus: #ff4500;
}
.producto-card img {
    width: 50%;
    height: 200px;
    object-fit: cover;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--color-fondo);
    padding: 20px;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: var(--color-primario);
    font-weight: bold;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: var(--color-texto);
}

button {
    background-color: var(--color-primario);
    color: var(--color-blanco);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}