:root {
    --color-primario: #ff6347;
--color-fondo: #f0f0f0;
--color-texto: #333;
--color-blanco: #fff;
--color-borde: #ddd;
--color-focus: #ff4500;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-fondo);
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.login-form {
    display: flex;
    flex-direction: column;
    background-color: var(--color-blanco);
    padding: 35px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}


h1 {
    text-transform: uppercase;
    color: var(--color-primario);
    text-align: center;
    letter-spacing: 2px;
}

h2 {
    text-align: center;
    color: var(--color-texto);
    font-weight:  normal;
}

label {
    margin-top: 15px;
    color: var(--color-texto);
    font-size: 14px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--color-borde);
    border-radius: 5px;
}

input:focus {
    border-color: var(--color-focus);
    outline: none;
}

button {
    margin-top: 10px;
    background-color: var(--color-primario);
    color: var(--color-blanco);
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: var(--color-focus);
}


p {
    margin-top: 10px;
    text-align: center;
}